$font-color-light: #ffffff;
$font-color-dark: #000000;
$font-shadow-text-dark: #000000;
$color-blue: #5474fd;
$font-fam-jos: 'Josefin Sans', sans-serif;
$font-fam-ale: 'Aleo', sans-serif;
$font-size-normal: 18px;